<form method="POST" action="/register">
<label> First Name: </label>
<input type="text" name="firstName"> 

<br>
<label> Last Name: </label>
<input type="text" name="lastName"> 

<br>
<label> Email: </label>
<input type="email" name="email"> 

<br>
<label> Password: </label>
<input type="password" name="pass1"> 

<br>
<label> Confirm Password: </label>
<input type="password" name="pass2">

<br>

<input type="submit"> 

</form>


