<form method = "post" action= "/login">
	<label> Email: </label> <input type="text" name="email">

	<br>

	<label> Password: </label> <input type = "password" name = "pass">

	<br>

	<input type="submit" value="Login">



</form>