<form method="post" action="/newRecipe">
	Name: <input type = "text" name = "recName">
	</br>
	Ingridients: <input type = "text" name = "ingridients">
	</br>

	Preparation Time: <input type = "number" name = "prepTime">
	</br>

	<input type = "submit" value = "Save">

</form>