<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="style.css">
<style type="text/css">
</style>
</head>
<body>

    <div class="aside">
                <div class="monsters">
                    <h2 id="mname">Name:</h2>
                    <h3 id="monsthp" class="monsthp">Hit Points:</h3>
                    <button id="monstname" class="monstname">Enter Monster Name</button>
                    <button id="monstatt" class="monstatt">Monster Attack</button>
                    <button id="monstdef" class="monstdef">Monster Defense</button>
                    <p id="monstresult" class="monstresult">Result</p>
                    
                </div>

                <div class="diceroller">
                    <h2>Dice Roller</h2>
                    <img src="dice.png" width="430" height="70">
                    <button id="bdice1" class="bdice1">Roll 1 dice</button>
                    <button id="bdice2" class="bdice2">Roll 2 dice</button>
                    <button id="bdice3" class="bdice3">Roll 3 dice</button>
                    <button id="bdice4" class="bdice4">Roll 4 dice</button>
                    <button id="bdice5" class="bdice5">Roll 5 dice</button>
                    <button id="bdice6" class="bdice6">Roll 6 dice</button>
                    <p id="diceresult" class="diceresult"></p>
                    
                </div>
    </div>            
<div class="main">
    <header>
        
    </header>
    <div class="info">
        <h3 id="name" class="name">Name: </h3>
        <button id="bname">Enter Your Name</button>
        <img src="empty.png" width="200" height="200" id="image">
        <p id="gender" class="gender">Gender: </p>
        <button id="bmale">Male</button>
        <button id="bfemale">Female</button>
        <p id="age" class="age">Age: </p>
        <button id="bage">Enter Your Age</button>
        <p id="race" class="race">Race: Aquilonian</p>
    </div>

    <div class="combat">
        <div class="vitality">
            <h2 id="hp" class="hp">Hit Points: 11</h2>
            <h2 id="fitness" class="fitness">Fitness: 10</h2>
            <button id="bfitness">Fitness Check</button>
        </div>

        <div class="battle">
            <p id="melee" class="melee">Melee Attack:</p>
            <button id="bmelee">Attack</button>
            <p id="ranged" class="ranged">Ranged Attack:</p>
            <button id="branged">Attack</button>
            <p id="defense" class="defense">Defense:</p>
            <button id="bdefense">Defend</button>
        </div>



    </div>


</div>

<script src="main.js"></script>

</body>
</html>